GUIDEMO/GUIDEMO/Service References/ServiceLogistic/ServiceLogistic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinesObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinesObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BO_Logistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Confirmed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayToCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipToCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrnspCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BO_Logistic" nillable="true" type="tns:BO_Logistic" />
</xs:schema>