GUIDEMO/GUIDEMO/Service References/ServiceRDR1/ServiceRDR12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5275/ServiceRDR1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BusinesObject" />
  <xs:element name="showRDR1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="showRDR1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="showRDR1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="showRDR1ByDocEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocEntry" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="showRDR1ByDocEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="showRDR1ByDocEntryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRDR1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinesObject" minOccurs="0" name="obj" nillable="true" type="q1:BO_RDR1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRDR1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addRDR1Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRDR1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinesObject" minOccurs="0" name="obj" nillable="true" type="q2:BO_RDR1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRDR1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateRDR1Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckItemCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckItemCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckItemCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistsDocEntryAndLineNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDocEntry" type="xs:int" />
        <xs:element minOccurs="0" name="idLineNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistsDocEntryAndLineNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckExistsDocEntryAndLineNumResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRDR1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docEntry" type="xs:int" />
        <xs:element minOccurs="0" name="LineNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRDR1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteRDR1Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxLineNumByDocEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docEntry" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxLineNumByDocEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaxLineNumByDocEntryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchRDR1ByDocEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchRDR1ByDocEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchRDR1ByDocEntryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchRDR1ByDocEntryAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchRDR1ByDocEntryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchRDR1ByDocEntryAllResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>